
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px; }

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10em;
  min-height: 2em;
  background: #ffffcc;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

#header{
  margin-top: 20px;
}

div {
  text-align: center; }

#entry {
  width: 90%;
  display: flex;
  align-self: center;
}
  #entry span {
    flex: 1; }
  #entry span:first-child {
    flex: 3; }
  
  #main {
  position: relative;
  top: 0px; 
  min-height: 30px;
  transition: height 0.2s;
}

ul {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  cursor: pointer; }
  ul li {
    list-style: none;
    display: flex;
    line-height: 1.25em;
    text-align: left; }
    ul li span {
      flex: 1; }
    ul li span:first-child {
      flex: 3; }

.fa {
  transform: scale(1.5); }

input {
  height: 36px;
  font-size: 24px; }

input[type="text"] {
  position: relative;
  left: -10px;
  width: 160px; }

select {
  font-size: 24px; }

.black {
  color: black; }

.grey {
  color: rgba(0, 0, 0, 0.1); }

.strike {
  text-decoration: line-through; }
